// Media queries breakpoints

$screen-2xl: 2400px; // 2560px
$screen-xl: 1800px; // 1920px
$screen-lg: 1200px; // 1366px
$screen-md: 768px;
$screen-sm: 360px;
$screen-xs: 320px;

$primary-color: #000;
$light-color: #fff;

$default-letter-spacing: 0.4px;